html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.heading {
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  padding: 50px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.heading h1 {
  color: #091E42;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

.btnGroup {
  box-sizing: border-box;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  text-align: center;
}

.btnGroup button {
  background-color: #f4f5f7;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #091E42;
  display: inline;
  font-family: 'Assistant', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.btnGroup button:hover {
  cursor: not-allowed;
}

.btnGroup button.selected {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}